<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!--custom css file-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>My Portfolio</title>
</head>


<body>

<div th:fragment="nav_bar">

        <div class="container-fluid">

            <nav class="navbar navbar-expand-lg  navbar-light bg-light  ">

                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 " >
                            <li class="nav-item">
                                <a class="nav-link "  href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="dynamic_page">Explanation</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <a class="nav-link" href="#contact" >Contact me</a>
                        </form>
                    </div>
                </div>
            </nav>

        </div>
</div>









<div th:fragment="email">
<form th:action="@{send_email}" method="POST" enctype="multipart/form-data" id="email_form" >
    <section class="contact">
        <h2 id="contact" class="display-6 mb-5">Contact me:</h2>
        <div class="container-fluid">

        </div>
        <label for="name" class="form-label">Name</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="John Doe" required>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Details</label>
            <textarea name="message" class="form-control" id="message" rows="3" required></textarea>
        </div>

        <button class="btn btn-primary btn-md" type="submit" >Send</button>
    </section>
</form>
</div>

<div th:fragment="confirmation_modal">
<div class="modal fade " id="emailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content " >
            <div class="modal-body text-center">
                <h3><strong>Message sent!</strong></h3>I will be in touch shortly, thank you for your interest.
            </div>
            <div class="text-center">
                <button id="aa" type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">Done</button>
            </div>
            <br>
        </div>
    </div>
</div>
</div>

<div th:fragment="certificates_modal">
    <div id="myModal" class="modalcer" data-bs-dismiss="modal">
        <span class="close">&times;</span>
        <img class="modalcer-content" id="img01">
        <div id="caption"></div>
    </div>
</div>

<section class="blog">
<div th:fragment="footer" class="container-fluidClass  justify-content-center text-light ">


    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">

                    <div class="col-xl-3 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>


                        <ul th:if="${#httpServletRequest.requestURI == '/'}" class="list-unstyled">

                            <li> <a class=" text-muted color-highlight" href="dynamic_page">Explanation</a></li>
                            <li> <a class=" text-muted color-highlight" href="#aboutme" >About me</a></li>
                            <li><a class=" text-muted color-highlight" href="#myprojects" >Projects</a></li>
                            <li><a class=" text-muted color-highlight" href="#mycsknowledge" >CS Knowledge</a></li>
                            <li><a class=" text-muted color-highlight" href="#education" >Education</a></li>
                            <li><a class=" text-muted color-highlight" href="#experience" >Experience</a></li>
                            <li><a class=" text-muted color-highlight" href="#contact" >Contact</a></li>

<!--                            </li>-->
                        </ul>



                        <ul th:if="${#httpServletRequest.requestURI == '/dynamic_page'}" class="list-unstyled">
                            <li><a class="color-highlight text-muted" href="/">Home</a></li>
                            <li><a class="color-highlight text-muted" href="#contact" >Contact</a></li>
                        </ul>


                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-11">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>MY LOCATION</b></h6>
                        <p class="mb-1">Rogers, Arkansas, U.S.A.</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102849.32333268107!2d-94.23051156000449!3d36.33554756677911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c910d451c1567d%3A0xce19becf5373f4d4!2sRogers%2C%20AR!5e0!3m2!1sen!2sus!4v1617746194249!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                </div>

                <div class="col-xl-8 col-md-7 col-sm-7  order-2 mt-5 pt-5 ">
                    <small class="rights"><span>&#174;</span>Created by Ramy Gatie, All Rights Reserved.</small>
                </div>

                </div>
        </div>
    </footer>



</div>
</section>


<div th:fragment="scripts">

    <!-- Option 2: Separate Popper and Bootstrap JS -->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"-->
<!--            integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"-->
<!--            crossorigin="anonymous"></script>-->

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"-->
<!--            integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"-->
<!--            crossorigin="anonymous"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/postrequest.js}"></script>
    <script type="text/javascript" th:src="@{js/javascript.js}"></script>



</div>




</body>




</html>